:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--Light-grayish-blue);
}

.container {
  margin: 3rem 0.5rem;
  display: grid;
  gap: 1.5rem;
  /* grid-auto-columns: 1fr; */
}

.card {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* contact */

.contact {
  display: flex;
}

.contact-info {
  padding-left: 1rem;
}

.img-container {
  width: 1.8rem;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
  border-radius: 50%;
}

.name {
  font-weight: 500;
  font-size: 0.8rem;
}

.position {
  font-size: 0.7rem;
  opacity: 50%;
}

/* paragraphs */

.desc {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.9rem 0;
}

.background {
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 60%;
  line-height: 1rem;
}

/* coloring the cards*/

.daniel {
  color: var(--White);
  background-color: var(--Moderate-violet);
}

.jonathan {
  color: var(--White);
  background-color: var(--Very-dark-grayish-blue);
}

.jeanette,
.jeanette p,
.kira {
  color: var(--Very-dark-grayish-blue);
  background-color: var(--White);
}

.patrick {
  color: var(--White);
  background-color: var(--Very-dark-blackish-blue);
}

@media (min-width: 45rem) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 25rem 2rem;
  }

  .container {
    max-width: 80rem;

    grid-template-areas:
      "daniel jonathan"
      "daniel jeanette"
      "kira patrick"
      "kira patrick";
    margin-inline: auto;

    grid-auto-columns: 1fr;
  }

  .daniel {
    grid-area: daniel;
  }

  .jonathan {
    grid-area: jonathan;
  }

  .jeanette {
    grid-area: jeanette;
  }

  .patrick {
    grid-area: patrick;
  }

  .kira {
    grid-area: kira;
  }
}

@media (min-width: 65rem) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .container {
    max-width: min(90%, 65rem);

    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
    margin: 0 auto;

    grid-auto-columns: 1fr;
  }

  .daniel {
    grid-area: daniel;
  }

  .jonathan {
    grid-area: jonathan;
  }

  .jeanette {
    grid-area: jeanette;
  }

  .patrick {
    grid-area: patrick;
  }

  .kira {
    grid-area: kira;
  }
}
